/* Index */

.content
  .content-box
    .content-item
      %h1 Buttons
    .separator.small
    .content-item
      = link_to "#", role: "button", class: "altai-off button gray double-extra-small" do
        %span.icon.left
          = image_tag "https://via.placeholder.com/64x64"
        I am a Button
    .content-item
      = link_to "#", role: "button", class: "altai-off button gray extra-small" do
        %span.icon.left
          = image_tag "https://via.placeholder.com/64x64"
        I am a Button
    .content-item
      = link_to "#", role: "button", class: "altai-off button gray small" do
        %span.icon.left
          = image_tag "https://via.placeholder.com/64x64"
        I am a Button
    .content-item
      = link_to "#", role: "button", class: "altai-off button gray medium" do
        %span.icon.left
          = image_tag "https://via.placeholder.com/64x64"
        I am a Button
    .content-item
      = link_to "#", role: "button", class: "altai-off button gray large" do
        %span.icon.left
          = image_tag "https://via.placeholder.com/64x64"
        I am a Button
    .content-item
      = link_to "#", role: "button", class: "altai-off button gray extra-large" do
        %span.icon.left
          = image_tag "https://via.placeholder.com/64x64"
        I am a Button
    .content-item
      = link_to "#", role: "button", class: "altai-off button gray double-extra-large" do
        %span.icon.left
          = image_tag "https://via.placeholder.com/64x64"
        I am a Button
