/* Index */

.content
  .content-box
    .content-item
      %h1 Buttons
    .separator.small
    .content-item
      %p.double-extra-small.left.auto
        double-extra-small
      = link_to "#", role: "button", class: "altai-off button gray double-extra-small" do
        %span.icon.left
          = image_tag "https://via.placeholder.com/64x64"
        I am a Button
    .content-item
      %p.extra-small.left.auto
        extra-small
      = link_to "#", role: "button", class: "altai-off button gray extra-small" do
        %span.icon.left
          = image_tag "https://via.placeholder.com/64x64"
        I am a Button
    .content-item
      %p.small.left.auto
        small
      = link_to "#", role: "button", class: "altai-off button gray small" do
        %span.icon.left
          = image_tag "https://via.placeholder.com/64x64"
        I am a Button
    .content-item
      %p.medium.left.auto
        medium
      = link_to "#", role: "button", class: "altai-off button gray medium" do
        %span.icon.left
          = image_tag "https://via.placeholder.com/64x64"
        I am a Button
    .content-item
      %p.large.left.auto
        large
      = link_to "#", role: "button", class: "altai-off button gray large" do
        %span.icon.left
          = image_tag "https://via.placeholder.com/64x64"
        I am a Button
    .content-item
      %p.extra-large.left.auto
        extra-large
      = link_to "#", role: "button", class: "altai-off button gray extra-large" do
        %span.icon.left
          = image_tag "https://via.placeholder.com/64x64"
        I am a Button
    .content-item
      %p.double-extra-large.left.auto
        double-extra-large
      = link_to "#", role: "button", class: "altai-off button gray double-extra-large" do
        %span.icon.left
          = image_tag "https://via.placeholder.com/64x64"
        I am a Button
